
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>

@Html.ActionLink("Log Off", "Index", "Home", routeValues: null, htmlAttributes: new { id = "logOggLink" })

@if (Session["UserId"] != null)
{
    <h4>Hello @Session["Username"].ToString()</h4>
}

